<html>
    <head>
        <title>Isi data diri</title>
    </head>
    <body>
        Halaman isi data diri
        <div><br /><br />
            Sudah punya akun? Login <a href="https://kreatoroom-999.uc.r.appspot.com/login">di sini</a>
          </div>
    </body>
</html>