<html>
    <head>
        <title>Sign In</title>
        <!-- <link rel="stylesheet" href="style/login.css"> -->
        <style>
            body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: Helvetica, Arial, sans-serif;
            }
            .login-container {
                padding: 4vh;
                width: 60vh;
                margin-top: 12vh;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #424242;
            }
            .login-container form{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .login-container img {
                max-width: 8vh;
                margin-bottom: -1rem;
            }

            .login-container h2{
                margin-bottom: 4rem;
            }
            .login-input {
                margin-bottom: 1rem;
                width: 18rem;
            }
            .login-input label {
                display: block;
            }
            .login-input input {
                width: 100%;
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 1rem;
                margin-bottom: 1.5rem;
            }
            .login-container button {
                height: 2.5rem;
                width: 18rem;
                padding: 0.5rem;
                margin-bottom: 2rem;
                background-color: #1DDFA2;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 1rem;
            }
            .atau {
                margin-bottom: 2rem;
            }
            .login-container button:hover {
                background-color: #24c2ad;
            }
        </style>
    </head>
    <body>
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <script>
            const apiUrl = 'http://localhost:8080/login'; //API endpoint URL
            const registerUrl = 'http://localhost:8080/register'; //register page URL
            const homeUrl = 'http://localhost:8080/home';
            const fillDataUrl = 'http://localhost:8080/fill-data';
            function handleCredentialResponse(response) {
                console.log("Encoded JWT ID token: " + response.credential);
                const jwtToken = response.credential; // Replace with the actual JWT token you received

                // Decode the JWT token
                const base64Url = jwtToken.split('.')[1];
                const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
                const decodedPayload = JSON.parse(atob(base64));

                // Extract user data
                const googleId = decodedPayload.sub;
                const userEmail = decodedPayload.email;
                const userName = decodedPayload.name;

                // Use the extracted data as needed
                console.log('Google ID:', googleId)
                console.log('User Email:', userEmail);
                console.log('User Name:', userName);

                // Fetch to API
                fetch(apiUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ token: jwtToken, google_id: googleId, email: userEmail, name: userName }),
                })
                .then(response => response.json())
                .then(data => {
                    // Handle the API response
                    console.log('API Response:', data);

                    // Check if the response indicates successful registration
                    if (data.message === 'User data added successfully') {
                        // Redirect to the register page
                        window.location.href = fillDataUrl;
                    }
                    if (data.message === 'User already exist') {
                        // Redirect to the register page
                        window.location.href = homeUrl;
                    }
                })
                .catch(error => {
                    // Handle any errors during the request or response handling
                    console.error('Error:', error);
                });
            }
            window.onload = function () {
                google.accounts.id.initialize({
                    client_id: "573309958754-prkpslkji9sbhennbuoe7tq85tnvvjbp.apps.googleusercontent.com",
                    callback: handleCredentialResponse
                });

                google.accounts.id.renderButton(
                    document.getElementById("buttonDiv"),
                    { theme: "outline", size: "large" }  // customization attributes
                );

                google.accounts.id.prompt(); // also display the One Tap dialog
            }
            function handleLogin(event) {
                event.preventDefault(); // Prevent the form from submitting normally

                // Get the form inputs
                const emailInput = document.getElementById('email');
                const passwordInput = document.getElementById('password');

                // Create the request body
                const requestBody = {
                    email: emailInput.value,
                    password: passwordInput.value
                };
                console.log(requestBody.email);
                console.log(requestBody.password);
                // Send the POST request to the API endpoint
                fetch(apiUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(requestBody),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('API Response:', data);
                    if (data.message === 'Login success') {
                        window.location.href = homeUrl;
                    }
                })
                .catch(error => {
                    // Handle any errors during the request or response handling
                    console.error('Error:', error);
                });
            }
        </script>
        <div class="login-container">
            <form id="loginForm">
                <img src="https://storage.googleapis.com/kreatoroom-logos/Kreatoroom.png" alt="kreatoroom-logo">
                <br>
                <h2>Login Kreatoroom</h2>
                <div class="login-input">
                    <label for="email">Email<br></label>
                    <input type="email" id="email" name="email" required>
                    <br>
                    <label for="password">Password<br></label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    <button type="submit" onclick="handleLogin(event)">Login</button>
                </div>
                <div class="atau"><br>atau<br><br></div>
                <div class="google-button" id="buttonDiv"></div>
                <div><br><br>
                    Belum punya akun? Daftar sekarang <a href="http://localhost:8080/register">di sini</a>
                </div>
            </form>
        </div>
    </body>
</html>
