<!DOCTYPE html>
<html>
<head>
  <title>Register Page</title>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
  <div id="g_id_onload"
    data-client_id="573309958754-prkpslkji9sbhennbuoe7tq85tnvvjbp.apps.googleusercontent.com"
    data-context="signup"
    data-ux_mode="popup"
    data-login_uri="http://localhost:8080/login"
    data-itp_support="true">
  </div>

  <div class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="filled_black"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left">
  </div>
  <script>
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
  </script>
</body>
</html>
