body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1;
    background-color: #1DDFA2;
}

.login-input {
    margin-bottom: 10px;
}

.login-button {
    padding: 10px 20px;
}